/* Home styles */
body {
	font-size: 18px;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #434241;
	color: white;
}
/* style the header for home page*/
.header {
	text-align: center;
	background-color: #2541B2;
	padding: 10px;
	color: white;
	border: 4px solid black;
}

/* style the top nav*/
#topnav {
	overflow: hidden;
	background-color: #1768AC;
	width: 100%;
}
#topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
#topnav a:hover, .buttonLink:hover {
	background-color: #06BEE1;
	text-decoration: none;
	color: black;
}
#topnav a#active {
	background-color: #2541B2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .contentHome {
	padding-top: 60px;
}

.buttonLink {
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	background-color: #1768AC;
}

#intro{
	padding:30px;
	background-color: #06BEE1;
}
#handbookOverview, #randomOverview, #builderOverview {
	padding: 30px;
	padding-top: 15px;
}

#quiet {
	color: white;
	text-decoration: none;
}

footer {
	background-color: #2541B2;
	font-size: 16px;
	padding: 20px;
}

/*
#colorDisplays {
	display: block;
}

#color1{
	background-color: #03256C;
	color: white;
}
#color2{
	background-color: #2541B2;
		color: white;
}
#color3{
	background-color: #1768AC;
		color: white;
}
#color4{
	background-color: #06BEE1;
		color: white;
}
#color5{
	background-color: #FFFFFF;
		color: black;
}
*/


/*Color schemes

RED/GOLD
#E89005 - harvest gold
#EC7505 - University of Tennessee Orange
#D84A05 - Sinopia
#F43B03 - Ferrari Red
#E70#02 - ku Crimsion

Green/Grey
#0DAB76 - fairly green
#248232 - darker forest green
#053B06 - very dark green
#77878B - light greiy
#305353 - greenish grey? kinda strange

PURPLE/BLUE
#070707 - smoky Black
#CAA8F5 - pale violet
#9984D4 - dark pastel purple
#592E83 - Regalia (deep purple)
#40434E - Arsenic (grey)


IN YOUR FACE - bright colors  
#2D7DD2 bright navy blue
#97CC04 sheen green
#EEB902 Selective Yellow
#F45D01 Vivid Orange
#474647 Outer Space (grey)

BLUE
03256C - royal blue
2541B2 - denim blue
1768AC - green blue
06BEE1 - cyan
FFFFFF - white
*/

